
<ul>
    <li>
        <a href="/admin" class="{% block studentHomeNavStyle %}{% endblock %}">Secure - Student home</a>

    </li>
    <li>
        <a href="/adminStudent" class="{% block StudentNavStyle %}{% endblock %}">Secure - Student </a>
    </li>

</ul>
