
<ul>
    <li>
        <a href="/admin" class="{% block memberHomeNavStyle %}{% endblock %}">Secure - Members home</a>

    </li>
    <li>
        <a href="/adminMember" class="{% block memberNavStyle %}{% endblock %}">Secure - Member </a>
    </li>

</ul>