{% extends '_base.html.twig' %}

{% block title %}Student home{% endblock %}
{% block studentHomeNavStyle %}current_page{% endblock %}
{% block main %}

    <h1>Welcome to the Student Page !</h1>

    <p>
        visit the <a href="/adminStudent">codes page</a> to learn how to rendezvous with visiting spies
    </p>


{% endblock %}