
{% extends '_base.html.twig' %}

{% block title %}Student Page{% endblock %}

{% block StudentNavStyle %}current_page{% endblock %}

{% block main %}

    <h1>You're in the Members Area </h1>
    <p>Members</p>


{% endblock %}