

{% extends '_base.html.twig' %}

{% block title %}Student Page{% endblock %}

{% block StudentNavStyle %}current_page{% endblock %}

{% block main %}

    <h1>You're in the Student Area </h1>
<p>nhsbjhbhjdbhsb</p>


{% endblock %}