{#----------------#}
{# templates/list.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}Members{% endblock %}

{% block membersNavStyle %}current_page{% endblock %}

{% block main %}

    <h3 class="h3">Members</h3>
{% endblock %}